<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>savo_app.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D708F63FB57CDF0BDB6D36AEE5D167A866A87667</string>
				<key>dateExpires</key>
				<string>2019. 3. 26.</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>FGU5BKYBN5.org.reactjs.native.example.savo</string>
				<key>com.apple.developer.team-identifier</key>
				<string>FGU5BKYBN5</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>FGU5BKYBN5.org.reactjs.native.example.savo</string>
				</array>
			</dict>
			<key>name</key>
			<string>savo_app.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8ab2f3a7-1168-43e3-af1f-645ed0ca6d2f</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: org.reactjs.native.example.savo</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>FGU5BKYBN5</string>
				<key>name</key>
				<string>Sang Young Cho</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
